<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>Economic Viability of Small-scale Fisheries</title>
    <!--<link href="style.css" rel="stylesheet">-->


    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="js/app.js"></script>
    <!-- / AngularJS -->

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>

    <!-- css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="container" ng-controller="formCtrl">
    <h1>Economic Viability of Small-scale Fisheries Questionaire</h1>

    <hr />

      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" name="firstname" for="first-name">First Name</label>
              <input id="first-name" type="text" ng-model="formObj.person.firstname" class="form-control" placeholder="First Name"required />  
              <label class="sr-only" for="last-name">Last Name</label>
              <input id="last-name" name="lastname" type="text" ng-model="formObj.person.lastname" class="form-control" placeholder="Last Name" required />

              <hr />

              <div ng-repeat="q in formObj.questions">
                <label for="q.question">{{ q.question }}?</label> 
                <div ng-if="q.type == 'boolean'">
                  <input id="{{ q.question }}-yes" name="{{ q.question }}-yes" type="radio" ng-model="q.answer" class="form-control" value="Yes" /> Yes
                  <input id="{{ q.question }}-no" name="{{ q.question }}-no" type="radio" ng-model="q.answer" class="form-control" value="No" /> No
                </div>
              </div>

              <br />
              <button class="btn btn-success" ng-click="revealText=true">Submit</button>
            </div>
          </div>

          <div ng-show="revealText" class="col-md-12">
            <hr />

            <h4>Please enter your email address if you are interested in contribiuting, sharing data, and/ or collaborating</h4>

            <div class="form-group">
              <label class="sr-only" for="email">Email</label>
              <input id="email" type="email" name="email-address" ng-model="formObj.person.email" class="form-control" placeholder="email" style="width:400px" />
              <br /><br />
              <button class="btn btn-success" ng-click="submitForm(formObj)">Submit</button>
              <button class="btn btn-danger" ng-click="submitForm(formObj)">No Thank you</button>
            </div>
          </div>
        </form>  

      </div>

      <h1>Results</h1>
      <hr />
      <div ng-repeat="form in forms">
        <div style="border: 1px solid #efefef;">
            <p><strong>Name:</strong> {{ form.person.firstname }} {{ form.person.lastname }}</p>
            <p><strong>Email:</strong> {{ form.person.email || 'withheld' }}</p>
            <p ng-repeat="q in form.questions">
               <strong>{{ q.question }}</strong> {{ q.answer }}
            </p>
        </div>
      </div>

    </div>
  </body>
</html>