<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>Economic Viability of Small-scale fisheries Questionnaire</title>
    <!--<link href="style.css" rel="stylesheet">-->


    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="js/app.js"></script>
    <!-- / AngularJS -->
    
  </head>
  <body>
    <div ng-controller="formCtrl">

      <form novalidate class="simple-form">
        First Name:        <input type="text" ng-model="form.firstName" required /><br /> 
        Last Name:         <input type="text" ng-model="form.lastName" required /><br /> 
        What is a fish?:   <input type="text" ng-model="form.q1" required /><br />
        <button ng-click="submitForm()">Submit</button>
      </form>

    </div>
  </body>
</html>